<!-- {% for car in cars %}
    <div>
        <img src="{{car.image.url}}" alt="">
        <h3>{{ car.reg_no }}</h3>
        <h3>{{car.phone_no}}</h3>
        <p>{{ car.description }}</p>

    
    </div>
{% empty %}
    <p>No cars found.</p>
{% endfor %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body style="background-color: darkgrey;">
    <p><i><b> Hello  {{user.username}}</b></i> </p>
    
    <div class="col-md-9 m-auto">
        <div class="row">
  
          {% for car in cars %}
            <div class="col-md-4">
                <div class="card my-2 mx-5">
                    <img class="image-thumbail" src="{{car.image.url}}" alt="Card image cap">
  
                    <div class="card-body">
                      <h5 class="card-title">{{car.reg_no}}</h5>
                      <h5 class="card-title">{{car.phone_no}}</h5>
                      <p class="card-text">{{car.description}}</p>
                      <a href="{%url 'update_car' car.id %}" class="btn btn-primary mb-2">Edit</a>
                      <a href="{%url 'delete_car' car.id %}" class="btn btn-primary mb-2">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}


   
   
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>