{%extends 'main.html'%}
{%load static%}
{%block content%}
<div class="f">
    <div class="heading">
        <h1>About Us</h1>
        <p>Welcome to carHire - Your Trusted Partner for Relocation Car Rentals!</p>
    </div>
    <section class="about-us">
        <img src="{% static 'images/img3.jpg'%}" alt="">
        <div class="content">
            <h2>Welcome to carHire</h2>
            <P>At carHire, we understand that relocation can be a challenging process, and transportation is a vital aspect of settling into a new place. Whether you're moving across the country or internationally, we are here to provide you with a hassle-free and reliable car rental solution. Our dedicated team is committed to making your transition smoother and more enjoyable.We specialize in providing top-quality rental cars exclusively for tenants who are relocating. With years of experience in the industry, we have gained a deep understanding of the unique needs and concerns of individuals and families moving to a new location. Our goal is to alleviate the stress associated with transportation during this crucial time, allowing you to focus on other aspects of your relocation.</P>
            <a class="btn btn-primary" href="{% url 'register' %}" role="button">Join Us</a>
        </div>

    </section>

</div>
    {% endblock%}

