
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <style>
    .card {
      transition: transform 0.3s;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

  </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'filter1' %}">Filter reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'summary1' %}">Summary reports</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Details Reports
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item my-2" href="{%url 'customer_report1' %}">Customer Reports</a></li>
              <li><a class="dropdown-item mx-2" href="{%url 'owner_report1' %}">Owner reports</a></li>
              <li><a class="dropdown-item my-2" href="{%url 'approved_report1' %}">Approved hire reports</a></li>
              <li><a class="dropdown-item mx-2" href="{%url 'rejected_report1' %}">Rejected hire reports</a></li>
              <li><a class="dropdown-item my-2" href="{%url 'review_report1' %}">Reviews reports</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/img1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Filter Reports</h5>
          <a href="{%url 'filter' %}" class="btn btn-primary">Print</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Filter Reports</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/img3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Summary Reports</h5>
          <a href="{%url 'summary' %}" class="btn btn-primary">Print</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Summary reports</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="{% static 'images/img5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Details Reports</h5>
          <a href="{%url 'customer_report' %}" class="btn btn-primary">Print Customer Reports</a>
          <a href="{%url 'owner_report' %}" class="btn btn-primary">Print Owner Reports</a>
          <a href="{%url 'approved_report' %}" class="btn btn-primary">Print approved hires</a>
          <a href="{%url 'rejected_report' %}" class="btn btn-primary">Print rejected hires</a>
          <a href="{%url 'review_report' %}" class="btn btn-primary">Print review report</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">Detail reports</small>
        </div>
      </div>
    </div>
    </div>
  </div>
 
  <div>
    <a href="{{ request.META.HTTP_REFERER }}" class="my-5">Go back</a>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>