
     <table>
        <thead>
            <tr>
                <th>Car</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for hire in approved_hires %}
            <tr>
                <td>{{ hire.car.reg_no }}</td>
                <td>{{ hire.start_date }}</td>
                <td>{{ hire.end_date }}</td>
                <td>{{ hire.phone_no }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No approved hire requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  







