<!-- Contact Page -->
<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
</head>
<body>
  <header>
    <h1>Contact Us</h1>
  </header>
  
  <div>
    <h2>General Inquiries:</h2>
    <p>Email: eugenemadegwa04@gmail.com</p>
    <p>Phone: +254717548446</p>
    
    <h2>Customer Support:</h2>
    <p>Email: support@carHire.com</p>
    <p>Phone: +251114327391</p>
    
    <h2>Office Address:</h2>
    <p>123 Main Street</p>
    <p>Nairobi, 00100</p>
    
    <h2>Business Hours:</h2>
    <p>Monday to Friday: 24hours </p>
    <p>Saturday and Sunday: 24hours</p>
  </div>
</body>
</html>


