


<!-- Services Page -->
<!DOCTYPE html>

<html>
<head>
  <title>Our Services </title>
  
</head>
<body>
  <header>
    <h1>Our Services</h1>
  </header>
  
  <div>
    <h2>Extensive Vehicle Selection:</h2>
    <ul>
      <li>Compact Cars: Perfect for navigating urban areas efficiently.</li>
      <li>Sedans: Comfortable and spacious for longer commutes or road trips.</li>
      <li>SUVs: Ideal for families or those needing extra space for belongings.</li>
      <li>Vans: Convenient for moving larger items or accommodating groups.</li>
    </ul>
    
    <h2>Flexible Rental Durations:</h2>
    <ul>
      <li>Short-Term Rentals: If you need a car for a few days or weeks during your relocation process, we offer competitive rates on short-term rentals.</li>
      <li>Long-Term Rentals: If you require a vehicle for an extended period, our long-term rental plans provide cost-effective solutions to fit your timeline.</li>
    </ul>
    
    <h2>Easy Online Booking:</h2>
    <p>Our user-friendly website allows you to browse our available vehicles, check pricing, and make reservations with just a few clicks. You can also contact our customer support team for personalized assistance.</p>
    
    <h2>Transparent Pricing:</h2>
    <p>We believe in transparent pricing with no hidden fees. The rental rates provided on our website include all necessary costs, such as insurance and taxes, to ensure you have a clear understanding of the total charges.</p>
    
    <h2>Additional Services:</h2>
    <p>Optional GPS navigation systems, child safety seats, and other accessories are available to enhance your convenience and ensure a comfortable journey.</p>

    <div>
        <a href="{{request.META.HTTP_REFERER}}"> Go back</a>
    </div>
  </div>
</body>
</html>
