


<!-- Services Page -->
<!DOCTYPE html>

<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <title>Our Services </title>
  
</head>
<body class="bg-secondary-subtle">
  <header>
    <h1>Our Services</h1>
  </header>
  
  <div class="card">
    <div class="card-body">

    <h2>Extensive Vehicle Selection:</h2>
    <ul>
      <li>Compact Cars: Perfect for navigating urban areas efficiently.</li>
      <li>Sedans: Comfortable and spacious for longer commutes or road trips.</li>
      <li>SUVs: Ideal for families or those needing extra space for belongings.</li>
      <li>Vans: Convenient for moving larger items or accommodating groups.</li>
    </ul>
    
    <h2>Flexible Rental Durations:</h2>
    <ul>
      <li>Short-Term Rentals: If you need a car for a few days or weeks during your relocation process, we offer competitive rates on short-term rentals.</li>
      <li>Long-Term Rentals: If you require a vehicle for an extended period, our long-term rental plans provide cost-effective solutions to fit your timeline.</li>
    </ul>
    
    <h2>Easy Online Booking:</h2>
    <p>Our user-friendly website allows you to browse our available vehicles, check pricing, and make reservations with just a few clicks. You can also contact our customer support team for personalized assistance.</p>
    
    <h2>Transparent Pricing:</h2>
    <p>We believe in transparent pricing with no hidden fees. The rental rates provided on our website include all necessary costs, such as insurance and taxes, to ensure you have a clear understanding of the total charges.</p>
    
    <h2>Additional Services:</h2>
    <p>Optional GPS navigation systems, child safety seats, and other accessories are available to enhance your convenience and ensure a comfortable journey.</p>
  </div>

    <div>
        <a href="{{request.META.HTTP_REFERER}}"> Go back</a>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>
