<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Terms of Use - Tenant Car Rental</title>

</head>
<body class="bg-secondary-subtle">
  <header>
    <h1>Terms of Use</h1>
  </header>
  
  <div class="card">
    <div class="card-body"> 
    <h2>1. Service Overview</h2>
    <p>a. Tenant Car Rental provides a platform for tenants relocating to rent vehicles for their transportation needs during the relocation process.</p>
    <p>b. Our services include vehicle selection, rental duration options, online booking, and additional services related to car rentals.</p>
    
    <h2>2. Eligibility</h2>
    <p>a. To use our services, you must be at least 18 years old and capable of entering into a legally binding agreement.</p>
    <p>b. By using our website and services, you represent and warrant that you meet the eligibility requirements.</p>

    <h2>3.User Responsibilities</h2>
    <p>a. You are responsible for providing accurate and up-to-date information during the registration and booking processes.</p>
    <p>b. You agree not to misuse or interfere with the website's functionality or access any unauthorized areas.</p>
    <p>c. You are responsible for maintaining the confidentiality of your account information and login credentials.</p>
    <p>d. You agree to comply with all applicable laws, regulations, and third-party agreements.</p>


   <h2>4. Vehicle Rental</h2>
   <p>a. Vehicle availability is subject to our inventory and may vary based on location and demand.</p>      
   <p> b. You must comply with the terms and conditions of the rental agreement, including return conditions, mileage limitations, and any additional fees.</p>
   <p> c. Any damages to the rented vehicle must be reported immediately.</p> 

   <h2>5.Pricing and Payments</h2>
    <p>a. Rental prices are subject to change and may vary based on vehicle type, duration, location, and other factors.</p>
    <p>b. You agree to pay the rental charges, additional fees, and applicable taxes as outlined in the booking process.</p>
    <p>c. Payment methods accepted will be specified during the booking process.</p>
    

    <h2>6. Intellectual Property</h2>
    <p>a. All intellectual property rights related to our website, content, and services belong to us or our licensors.</p>
    <p>b. You may not reproduce, distribute, modify, or create derivative works based on our intellectual property without our prior written consent.</p>


    <h2>7. Limitation of Liability</h2>
    <p>a. We strive to provide accurate information, but we do not warrant the completeness, accuracy, or reliability of our website, content, or services.</p>
    <p>b. We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of our website and services.</p>

    <h2>8. Indemnification</h2>
    <p>a. You agree to indemnify and hold us harmless from any claims, damages, liabilities, and expenses arising out of your use of our website and services.</p>
   

    <h2>9. Governing Law and Jurisdiction</h2>
    <p>a. These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of laws principles.</p>
    <p>b. Any disputes arising from these Terms shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].</p>

    <h2>10. Intellectual Property</h2>
    <p>a. We reserve the right to modify or update these Terms at any time, without prior notice. It is your responsibility to review these Terms periodically for any changes.</p>
    

    <h2>11. Severability</h2>
    <p>a. If any provision of these Terms is found to be invalid, illegal, or unenforceable, the remaining provisions shall continue to be valid and enforceable to the fullest extent permitted by law.</p>
    
    <h2>12. Modifications to the Terms</h2>
    <p>a. We reserve the right to modify or update these Terms at any time, without prior notice. It is your responsibility to review these Terms periodically for any changes.</p>
    
    <h2>13. Governing Law and Jurisdiction</h2>
    <p>a. These Terms shall be governed by and construed in accordance with the laws of [Jurisdiction], without regard to its conflict of laws principles.</p>
    <p>b. Any disputes arising from these Terms shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].</p>
    
    <h2>14. Contact Us</h2>
    <p>If you have any questions or concerns about these Terms, please contact us at:</p>
    <p>Email: info@tenantcarrental.com</p>
    <p>Phone: +25417548446</p>    
    </div>
    <div>
      <a href="{{request.META.HTTP_REFERER}}"> Go back</a>
  </div>

  </div>
  
  <footer class="mx-5">
    <p>&copy; 2023 Tenant CarHire. All rights reserved.</p>
  </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>
