<footer class="bg-dark py-5 mt-5">
    <div class="container text-light text-center">
        <p class="display-5 mb-3"> carHire</p>
        <small class="text-white-50">&copy; Copyright by Madesh. All rights reserved.</small>
        <div class="container">
        <i class="bi bi-facebook mx-2"></i>
        <i class="bi bi-twitter mx-2"></i>
        <i class="bi bi-instagram mx-2"></i>
        <i class="bi bi-whatsapp mx-2"></i>
        </div>
        <a  href="{% url 'Terms' %}">Terms Of Use</a>
        
    </div>

    
   

</footer>